body {

    margin: 0;
    padding: 0;
}

@font-face {
    font-family: grotesk_font;
    src: url(./assets/fonts/DIN\ Neuzeit\ Grotesk\ LT\ W01\ BdCn.ttf)
    
}
div.headbox {
    display: flex;
    justify-content: center;
}
div.headbox header{  
    width: 860px;
    height: 240px; 
    background-color: white;
    position: fixed;
    top: 0;
}
div.headbox header section{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.headbox header section aside p {
    font-family: grotesk_font;
    font-size: 24px;
    color: #AAD6C1;
}
div.headbox header section h1 a {
    font-family: grotesk_font;
    font-size: 60px;
    text-decoration: none;
    color: black;
}
div.headbox header section aside.login i.user_icon svg {
    width: 22px;
    height: 22px;
    color: #AAD6C1;
}
div.headbox header section aside span {
font-family: grotesk_font;
color: #AAD6C1;
}
div.headbox header section aside.login {
    display: flex;
    align-items: center;
    column-gap: 10px;
}




div.headbox header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap:40px;
}
div.headbox header nav ul li a{
    font-family: grotesk_font;
    font-size: 20px;
    text-decoration: none;
    color: black;
}





main {
    display: flex;
    justify-content: center;
    margin-top: 240px;
}

main section div.mark_twain {
    width: 860px;
    height: 378px;
    background-color: #AAD6C1;
    margin-top: 50px;
}
main section div.mark_twain span {
    display: block;
    padding: 40px;
    font-family: grotesk_font;
    font-size: 60px;
    color: white;
}
main section div.mark_twain hr {
    width: 50px;
    height: 0.5px;
    margin-left: 40px;
    background-color:white;
}
main section div.mark_twain p{
    font-family: grotesk_font;
    font-size: 18px;
    color: white;
    margin-left: 40px;
}





div.about div.lineclass {
    width: 100%;
    border-bottom: 1px solid black;
}

main section div.about {
    margin-top: 50px;
    font-family: grotesk_font;
    display: grid;
    grid-template-areas: 
    "about_head about_head "
    "about_me education"
    "experience specialties";
}
div.about_head {
    grid-area: about_head;
}

main section div.about div.about_me {
    grid-area: about_me;
    width: 355px;
    height: 100px;
}
main section div.about div.education {
    grid-area: education;
}
main section div.about div.specialties {
    grid-area: specialties;
}
main section div.about div.experience {
    grid-area: experience;
    width: 370px;
    height: 150px;
}