body {

    margin: 0;
    padding: 0;
}

@font-face {
    font-family: grotesk_font;
    src: url(./assets/fonts/DIN\ Neuzeit\ Grotesk\ LT\ W01\ BdCn.ttf)
    
}

header{
    width: 100%;
    height: 240px; 
    background-color: white;
    position: fixed;
    top: 0;
}
header section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px;
}
header section aside p {
    font-family: grotesk_font;
    font-size: 24px;
    color: #AAD6C1;
}
header section h1 a {
    font-family: grotesk_font;
    font-size: 60px;
    text-decoration: none;
    color: black;
}
header section aside.login i.user_icon svg {
    width: 22px;
    height: 22px;
    color: #AAD6C1;
}
header section aside span {
font-family: grotesk_font;
color: #AAD6C1;
}
header section aside.login {
    display: flex;
    align-items: center;
    column-gap: 10px;
}





header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap:40px;
}
header nav ul li a{
    font-family: grotesk_font;
    font-size: 20px;
    text-decoration: none;
    color: black;
}





main {
    display: flex;
    justify-content: center;
    margin-top: 240px;
}

main section div.mark_twain {
    width: 860px;
    height: 378px;
    background-color: #AAD6C1;
    margin-top: 50px;
}
main section div.mark_twain span {
    display: block;
    padding: 40px;
    font-size: 60px;
    color: white;
}
/* main section div.mark_twain div.phrase::after {
    content: ">";
    border-bottom: 1px solid red ;
} */

main section div.mark_twain hr {
    width: 50px;
    height: 0.5px;
    margin-left: 40px;
    background-color:white;
}
main section div.mark_twain p{
    font-family: grotesk_font;
    font-size: 18px;
    color: white;
    margin-left: 40px;
}



main section div.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main section div.about div.about_me {
    width: 355px;
    height: 100px;
}

main section div.about div.experience {
    width: 370px;
    height: 150px;
}